.regular {
  padding: 60px 15px;
}
.regular-title {
  margin-bottom: 30px;
}
.regular-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: space-between;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-list-item {
  display: flex;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-list-item:hover,
.regular-list-item:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.regular-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-list-link:focus {
  fill: var(--accent-color);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.regular-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-list-item:hover .regular-icon,
.regular-list-item:focus .regular-icon {
  fill: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .regular-list-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .regular-list-item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .regular {
    padding: 94px 15px;
  }
  .regular-title {
    margin-bottom: 50px;
  }
  .regular-list-item {
    width: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}
