.team {
  background-color: #f5f4fa;
  padding: 60px 15px;
}
.team-title {
  margin-bottom: 30px;
}
.team-list {
  margin-top: 30px;
  justify-content: center;
}
.work-team {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-content {
  padding-top: 30px;
  padding-bottom: 24px;
}
.team-position {
  margin-left: auto;
  margin-right: auto;
  min-width: 130px;
  height: 19px;
}
@media screen and (max-width: 767px) {
  .work-team {
    max-width: 450px;
    max-height: 622px;
    display: block;
  }
  .work-team:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .work-team {
    max-width: 354px;
    max-height: 536px;
    display: block;

    width: calc((100%-4 * 15px) / 2);
    margin: 15px;
  }
  .team-card {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 15px;
  }
  .team-list {
    margin-top: 50px;
    display: flex;
  }
  .work-team {
    max-width: 270px;
    max-height: 428px;
    width: 25%;
  }
  .work-team:not(:last-child) {
    margin-right: 30px;
  }
  .team-card {
    width: 270px;
    height: 260px;
  }
}
