.icon-antenna::before {
  background-image: url('../images/icon/antenna.svg');
}

.icon-clock::before {
  background-image: url('../images/icon/clock.svg');
}

.icon-diagram::before {
  background-image: url('../images/icon/diagram.svg');
}

.icon-astronaut::before {
  background-image: url('../images/icon/astronaut.svg');
}
