.logo {
  display: block;
  width: 134px;

  border: 0px;
  align-items: center;
}
.footer-logo {
  display: block;
  width: 154px;
  align-items: center;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    width: 145px;
    margin: 0;
  }
}
